/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/* Add your custom styles here */